<div class="title-header">
    <h1>
        Welcome to HANGMAN Game !!
    </h1>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rules to know</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <h3>
                    Rules of the game
                    <br>
                    <span>-Hangman-</span>
                </h3>
                <p> Rule 1: the hang is a game which consists in finding a word by guessing what are the letters which make up him. Word which is randomly generated.
                    <br> Rule 2: the players have each their interfaces but they have the same word.
                    <br> Rule 3: the players win points of score according to the tries that they their stay.
                    <br> Rule 4: the winner in a sleeve is the one who confirms the word when he completes the missing letters.
                    <br> Rule 5: in every bad answers given by the visual keyboard, a try is removed.
                    <br> Rule 6: the sleeve ends when the word in found summer or when the tries arrive at zero.
                    <!-- Rules in french
            Règle 1 : Le Pendu est un jeu qui consiste à trouver un mot en devinant quelles sont les lettres qui le composent. Mot qui
          est choisi aléatoirement.
          <br> Règle 2 : les joueurs ont chacun leurs interfaces.
          <br> Règle 3 : Les joueurs gagnent des points de score à chaque manche gagné.
          <br> Règle 4 : Le gagnant d’une manche est celui qui valide le mot en trouvant les lettres manquantes.
          <br> Règle 5 : A chaques mauvaises réponses données par le clavier visuel, un essai est retiré.
          <br> Règle 7 : La manche se termine une fois que le mot à été trouvé ou que les essais arrivent à zéro.
          -->
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="title-header">

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
    Wanna See Rules ?
  </button>
</div>