.letter {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px black solid;
    font-size: 32px;
    text-align: center;
    border-radius: 15px;
}

.surrender {
    text-align: center
}

.lettre {
    display: inline-block;
    text-align: center;
    margin-left: 33vw;
    margin-bottom: 5vw;
}

.all {
    padding: 17vw;
    margin-bottom: -12vw;
}

.first {
    position: absolute;
}

.second {
    margin-left: 50vw;
}

.ff {
    margin-top: 25px;
}