<div class="container">
    <div class="row">
        <div class="surrender col-12">
            <button routerLink="/home" type="button" class="ff btn btn-danger btn-lg"><span>Surrender ?</span></button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row all">
        <div *ngIf="room && me">
            <div class="col-6 first">
                <p>
                    {{ me.name }}
                </p>
                <p>
                    My remaining tries : {{ me.remainingTries }}
                </p>
                <p>
                    My Score : {{ me.score }}
                </p>
            </div>
            <div class="col-6 second">
                <p>
                    {{ opponent.name }}
                </p>
                <p>
                    Opponent remaining tries : {{ opponent.remainingTries }}
                </p>
                <p>
                    Opponent Score : {{ opponent.score }}
                </p>
            </div>
        </div>
    </div>
    <div class="lettre" *ngIf="room && me">
        <div class="letter" *ngFor="let letter of me.playingWord">
            {{ letter }}
        </div>

    </div>

</div>

<app-keyboard></app-keyboard>