<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rules to know</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>
          Rules of the game
          <br>
          <span>-Hangman-</span>
        </h3>
        <p> Rule 1: the hang is a game which consists in finding a word by guessing what are the letters which make up him. Word
          which is randomly generated.
          <br> Rule 2: the players have each their interfaces but play each their tour to propose a letter on the same word.
          <br> Rule 3: the players win points of score according to the tries that they their stay. The players have a timer
          of 10 seconds to choose a letter, they pass if the limit time is sold.
          <br> Rule 4: the winner in a sleeve is the one who confirms the word in the category "to propose a word" or if he completes
          the missing letters.
          <br> Rule 5: in every bad answers given by the visual keyboard, a try is removed.
          <br> Rule 6: in every bad answers given in the category "Subject er a word", THREE tries are removed.
          <br> Rule 7: the sleeve ends when the word in found summer or when the tries arrive at zero.
          <br> Rule 8: the winner is the one who managed to win two sleeves.
          <!-- Rules in french
            Règle 1 : Le Pendu est un jeu qui consiste à trouver un mot en devinant quelles sont les lettres qui le composent. Mot qui
          est généré aléatoirement.
          <br> Règle 2 : les joueurs ont chacun leurs interfaces mais joue chacun leur tour pour proposer une lettre sur le même
          mot.
          <br> Règle 3 : Les joueurs gagnent des points de score selon les essais qu’ils leurs restent. Les joueurs ont un timer
          de 10 secondes pour choisir une lettre, ils passent leur tour si le temps limite est écoulé.
          <br> Règle 4 : Le gagnant d’une manche est celui qui valide le mot dans la catégorie “proposer un mot” ou s’il complète
          les lettres manquantes.
          <br> Règle 5 : A chaques mauvaises réponses données par le clavier visuel, un essai est retiré.
          <br> Règle 6 : A chaques mauvaises réponses données dans la catégorie “Propos er un mot”, TROIS essais sont retirés.
          <br> Règle 7 : La manche se termine une fois que le mot à été trouvé ou que les essais arrivent à zéro.
          <br> Règle 8 : Le gagnant est celui qui a réussi à gagner deux manches.
          -->
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="title-header">

  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
    Wanna See Rules ?
  </button>
</div>